<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ComApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ComApplication.Properties.Settings>
            <setting name="indexComPort_Speed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="indexComPort_Databits" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="indexComPort_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indexComPort_StopBits" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="fileAnswerDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="fileAnswer" serializeAs="String">
                <value />
            </setting>
            <setting name="folderForDocDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="isAutoOpenSerial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoOpenSerialDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nameComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="indexComPort_SpeedDefault" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="indexComPort_DatabitsDefault" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="indexComPort_ParityDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indexComPort_StopBitsDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="razdByteIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="razdByteIndexDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isRadioButtonHexChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRadioButtonHexCheckedDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCheckBoxPeriodChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCheckBoxPeriodCheckedDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRazdPaketByPosledovSimbols" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRazdPaketByPosledovSimbolsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeAnswerWait" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="timeAnswerWaitDefault" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="isRazdHex8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isRazdHex8Default" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kolBytesPerLineIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kolBytesPerLineIndexDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="indexKodStranicaNomer" serializeAs="String">
                <value>139</value>
            </setting>
            <setting name="indexKodStranicaNomerDefault" serializeAs="String">
                <value>139</value>
            </setting>
            <setting name="timeFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeFormatIndexDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isTimeFormatPodpis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTimeFormatPodpisDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timerSendCommandInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="timerSendCommandIntervalDefault" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="fileCommandDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="fileCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="isRazdByte" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isRazdByteDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="simbolsRazdPaketByPosledovSimbols" serializeAs="String">
                <value />
            </setting>
            <setting name="simbolsRazdPaketByPosledovSimbolsDefault" serializeAs="String">
                <value>13 10</value>
            </setting>
            <setting name="razdHex8" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="serialPort_WaitAnswer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="serialPort_WaitAnswerDefault" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="serialPort_WaitWrite" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="serialPort_WaitWriteDefault" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="isSerialPort_WaitAnswer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSerialPort_WaitWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSerialPort_WaitAnswerDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSerialPort_WaitWriteDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isCheckConditionSerialPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAddCRC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowColumnTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowColumnTimeDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowColumnHex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowColumnHexDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowColumnText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowColumnTextDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowTimeMS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowTimeMSDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="consolCommandTimeWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="consolCommandHexWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="consolCommandTextWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="consolAnswerTimeWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="consolAnswerHexWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="consolAnswerTextWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="isAllowEnterText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAllowEnterTextDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDoubleCommandTextForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isDoubleCommandTextFormDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowSetSerialPort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowSetSerialPortDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainFormStartLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormStartLeftDefaul" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormWidthDefault" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="mainFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormHeightDefault" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="mainFormStartTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormStartTopDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isCheckConditionSerialPortDefault" serializeAs="String">
                <value>False</value>
            </setting>
        </ComApplication.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
